.horizontal-bar {
    width: 100%;
    height: 0.15rem;
    background-color: #7e7e7e;
    border-radius: 5rem;
}

.heading {
    font-family: "Hind", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    font-style: normal;
    color: black;
    margin-bottom: 0.3rem;
}

.imagesRow {
    display: flex;
    margin: 1rem 0;
    overflow-x: auto;
}

.image-container {
    width: 16rem;
    height: 12rem;
    flex-shrink: 0;
    margin: 0 0.5rem;
}

.image {
    width: 100%;
    height: 100%;
}

.hotel-page-row {
    display: flex;
    margin: 1rem 0 4rem;
    height: fit-content;
}

.hotel-description {
    padding: 0.2rem 0 0.2rem 1.3rem;
    white-space: pre-line;
    word-break: break-all;
    font-family: "Hind", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}

.rooms-heading {
    margin-left: 1rem;
    font-family: "Hind", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
}

.rooms {
    padding: 0.1rem 1rem 0.1rem;
    width: 60%;
}

.rooms-row {
    display: flex;
    justify-content: space-between;
}

.proceed {
    margin: 0.7rem 0;
    display: flex;
}

.right-summary {
    width: 37%;
}